<navbar></navbar>

<div class="header">
  <h1>Users</h1>
  <img src="https://cdn1.iconfinder.com/data/icons/arrows-vol-1-4/24/dropdown_arrow-512.png" alt="arrow down">

</div>



<section>
  <div class="user">
    
    <p> {{users[1].name}} <span>name</span></p>
    <p>{{users[1].email}} <span>email</span></p>
    <p>{{users[1].username}} <span>username</span></p>
  </div>

  <div class="user">
    
    <p>{{users[2].name}} <span>name</span></p>
    <p>{{users[2].email}} <span>email</span></p>
    <p>{{users[2].username}} <span>username</span></p>

  </div>

  <div class="user">
    
    <p>{{users[3].name}} <span>name</span></p>
    <p>{{users[3].email}} <span>email</span></p>
    <p>{{users[3].username}} <span>username</span></p>

  </div>
</section>
  

